body {
    font-family: Candara;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 700px; /* Lebar total container */
}

.logo {
    padding: 20px;
}

.logo img {
    max-width: 200px; /* Sesuaikan ukuran logo */
}

.form-container {
    padding: 20px;
    width: 400px; /* Ukuran form login */
}

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    margin-bottom: 20px;
    display: flex; /* Mengatur tab agar bersebelahan */
}

.tab button {
    background-color: #007BFF; /* Warna latar belakang tombol tab */
    color: white; /* Warna teks tombol tab */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: background-color 0.3s;
    font-size: 17px;
    width: 50%; /* Lebar tombol tab */
}

.tab button:hover {
    background-color: #0056b3; /* Warna saat hover */
}

.tab button.active {
    background-color: #0056b3; /* Warna saat tab aktif */
}

.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"], input[type="password"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #007BFF; /* Warna latar belakang tombol */
    color: white; /* Warna teks tombol */
    padding: 10px;
    border: none; /* Menghapus border default */
    border-radius: 4px; /* Membuat sudut tombol melengkung */
    cursor: pointer; /* Mengubah kursor saat hover */
    width: 100%; /* Membuat tombol memenuhi lebar form */
    font-size: 16px; /* Ukuran font tombol */
    transition: background-color 0.3s ease; /* Efek transisi */
}

button[type="submit"]:hover {
    background-color: #6495ED; /* Warna saat hover */
}